@font-face {
    font-family: poppins;
    src: url(/Poppins/Poppins-Regular.ttf);
}
.test{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-style: double;
    border-color: rgb(255, 255, 255);
    font-family: poppins;
}
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  nav a {
    text-decoration: none;
    color: rgb(66, 173, 245);
  }
  footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }
  footer p {
    color: #3d3d3d;
    font-size: 14px;
  }
ul{
    display: flex;
    justify-content: center;
}